/* ================================================ */
/* =========== Application Home: Begin ============ */
/* ================================================ */
.__theme {
    background: var(--background);
    height: 100dvh;
    background-image: var(--grid-style);
    background-size: 60px 60px;
}

/* =========================================== */
/* =============== Site Header =============== */
/* =========================================== */
header#__header {
    position: relative;
    height: 80px;
    overflow: hidden;
    z-index: 999;
}

._inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

/* ========== Header :: Lsb & Rsb ========== */
.lsb {
    height: inherit;
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.rsb {
    display: flex;
    align-items: center;
    column-gap: 32px;
}

/* ========== Headers :: Items ========== */
.hamburger { display: none; }
a.site-logo {
    cursor: pointer;
    display: flex;
}

a.site-logo img {
    width: auto;
    height: 22px;
    object-fit: cover;
}

.main-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 26px;
}

a.elm.active { color: #fff; }
a.elm,
a.toggle-search,
a.my-list,
a.user {
    display: flex;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #adadad;
    align-items: center;
    column-gap: 8px;
}

a.elm:hover,
a.toggle-search:hover,
a.my-list:hover,
a.user:hover {
    color: var(--accent-color);
    transition: all .2s ease-in-out;
}

a.toggle-search, 
a.my-list,
a.user { color: white }

/* ================================================ */
/* ================= main Carousel ================ */
/* ================================================ */
#__appbody {
    position: relative;
    bottom: 80px;
}

/* ========== SwiperJS ========== */
.CarouselSwiper { width: 100%; }
.CarouselSwiper .swiper-slide { width: 100%; }
.single-caro {
    position: relative;
    display: block;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

/* ===== Poster Wrapper ===== */
.poster-wrapper {
  position: absolute;
  inset: 0;
}

.poster-wrapper img {
    object-fit: cover;
    object-position: top;
}

.gradient-horizontal {
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 100%);
}

.gradient-bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 12rem;
    z-index: 10;
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
}

/* ===== Carousel Metadata ===== */
.meta-caro {
    position: absolute;
    z-index: 20;
    bottom: 30%;
    left: 8rem;
    max-width: 36rem;
    color: #fff;
}

.meta-caro img {
    display: flex;
    position: relative !important;
    width: 280px !important;
}

.title-caro {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #fff;
    background: #fff3;
    border-radius: 2px;
    padding: 6px 12px 5px 12px;
    line-height: 22px;
    width: max-content;
}

.quick-display {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 14px;
    column-gap: 10px;
    padding-bottom: 14px;
    border-bottom: 2px dashed #fff3;
}

span.dot {
    color: lab(60 0 -0.01);
    position: relative;
    font-size: 16px;
}

.rating, 
.release-year,
.genre {
    display: flex;
    align-items: center;
    font-family: "Cascadia Code", sans-serif !important;
    color: #d8d3d4;
    font-size: 15px;
    font-weight: 600;
    column-gap: 10px;
}

.rating { font-size: 14px; column-gap: 8px; color: var(--accent-color); }
.genre {
    font-family: "Geist", sans-serif !important;
    font-size: 14px;
}

.short-desc {
    font-family: "Geist", sans-serif;
    font-size: 16px;
    color: #d4d4d8; 
    font-weight: 500;
    line-height: 26px;
    max-width: 32rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ===== Pagination ===== */
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    left: auto !important;
    width: max-content;
    bottom: 64px;
    right: 64px;
}

span.swiper-pagination-bullet { 
    background: #fff !important;
    height: 10px;
    width: 10px;
    margin: 0 4px !important;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--accent-color) !important;
    transition: all .2ms ease-in-out;
}

/* ===== navigation ===== */
.swiper-prev, 
.swiper-next {
    z-index: 999;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.swiper-prev {
    left: 64px;
    top: 50%;
}

.swiper-next {
    right: 64px;
    top: 50%;
}

/* =================================================== */
/* ================== Section Slider ================= */
/* =================================================== */
.home-section {
    background: var(--background);
    padding: 20px 20px;
}

/* ========== Rail Section ========== */
section.embla-carousel.rail-section {
    --rail-slide-width: clamp(13rem, calc((100vw - 3.5rem) / 4.6), 26rem);
    --rail-poster-center: clamp(4.5rem, 7.3125vw, 6.1875rem);
    margin: 0 0 28px 0;
    padding: 0 44px;
    position: relative;
}

.top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section-name {
    position: relative;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 0 0 0 20px;
}

.section-name::before {
    content: "";
    background: var(--accent-color);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

a.view-more {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    column-gap: 8px;
    padding: 4px 6px 4px 10px;
    background: #fff3;
    border-radius: 2px;
}

/* ========== Single Emble ========== */
.rail-grid { display: flex; }
.embla-grid .swiper-wrapper{ gap: 1rem; }
.embla-slide {
    position: relative !important;
    width: 390px !important;
    border-radius: 2px;
    overflow: hidden;
}

.embla-slide:hover .poster img {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.embla-slide a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poster {
    display: flex;
    align-items: center;
    position: relative;
}

.poster img {
    object-fit: contain;
    width: 100%;
}

/* ========== Absolutes ========== */
.isComplete, .type, .episode, .uploadAt {
    display: none;
    position: absolute;
}

/* ========== Title ========== */
.title {
    font-family: 'Roboto', sans-serif !important;
    font-size: 15px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 12px;
    background: #444;
    z-index: 999;
    line-height: 20px;
}

.title:hover {
    color: var(--accent-color);
    transition: all .2s ease-in-out;
}

/* ========== Clickable Bottons ========== */
button.embla-next,
button.embla-prev {
    position: absolute;
    display: none;
}
